<%= form_for(@callplan, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @callplan.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@callplan.errors.count, "error") %> prohibited this callplan from being saved:</h4>

      <ul>
      <% @callplan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_area :description, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :price, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.number_field :price, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :network, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :network, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :state, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :state, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :plantype, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.number_field :plantype, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ratepersec, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :ratepersec, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ratepermin, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :ratepermin, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ratepersec_std, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :ratepersec_std, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ratepermin_std, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :ratepermin_std, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
