<div class="page-header">
  <%= link_to callplans_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_callplan_path(@callplan), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show callplan</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @callplan.name %></dd>

  <dt>Description:</dt>
  <dd><%= @callplan.description %></dd>

  <dt>Price:</dt>
  <dd><%= @callplan.price %></dd>

  <dt>Network:</dt>
  <dd><%= @callplan.network %></dd>

  <dt>State:</dt>
  <dd><%= @callplan.state %></dd>

  <dt>Plantype:</dt>
  <dd><%= @callplan.plantype %></dd>

  <dt>Ratepersec:</dt>
  <dd><%= @callplan.ratepersec %></dd>

  <dt>Ratepermin:</dt>
  <dd><%= @callplan.ratepermin %></dd>

  <dt>Ratepersec std:</dt>
  <dd><%= @callplan.ratepersec_std %></dd>

  <dt>Ratepermin std:</dt>
  <dd><%= @callplan.ratepermin_std %></dd>

</dl>
